
  

   <head>
    <title> Adscripciones </title>
   </head>
   <h1>Documentos / Adjuntar documento probatorio de adscripción institucional.</h1>
 
   
   <hr>
<form action="/adscripciones" method="post" enctype="multipart/form-data">
   <input type="file" name="documnento">
   <input type="submit" value="Agregar">
 
   <table class="table_books" border="1">
     <tr>
       <td class="title">Archivo</td>
       <td class="title">Eliminar</td>
     </tr>
 
     <tr>
       <td> Lorem Ipsum </td>
       <td> Lorem Ipsum </td>
     </tr>
   </table>
   
   
     
     <button id="next_button" type="submit">Siguiente</button>
  
 
 
</form>